<div>
  <h4>Cats</h4>
  <h3>
    <% @c.each do |cat|  %>
      <%= cat.name %>
    <% end %>
  </h3>
  <h4>Users</h4>
  <h3>
    <% @u.each do |user| %>
      <%= user.username %>
      <%= user.email %>
      <%= user.age %>
    <% end %>
  </h3>
  <h4>Todos</h4>
  <h3>
    <% @t.each do |todo| %>
      <%= todo.tasks %>
      <%= todo.finished %>
    <% end %>
  </h3>
</div>

